*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --primaryColor: #3A3845;
  --PrimaryFont:Inter;
  --spacer:4px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "EB Garamond", serif;
}

body{
  font-family: var(--primaryFont);
}
.header{
    padding: 21.84px 0;
}

.header a{
  text-decoration: none;
  font-size: 22px;
   color: var(--primaryColor);
   transition-property: color;
   transition-duration: .8s;
}

.header a:hover{
  color: #2388ff
}
.container{
/**  width: calc( 100% - 330px ); **/
  padding: 0 24px;
  margin: 0 auto;
}




@media screen and (min-width:0) and (max-width: 768px) {
  .container {
        padding-left: 20px;
        padding-right: 20px;
  }
}



.row{
     display:flex;
     flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
  display: none;
}

@media screen and (min-width:0) and (max-width:1000px){

      .menu {
            display: flex;
            width:35px;
          }       
 }

img {
  width: 100%;
}

.list-ul{
    display: flex;
    gap: 60px;
    list-style-type: none;
}



@media screen and (min-width:0) and (max-width:1000px){

      .list {
            display: none;
          }
          
 }

.icons-ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
}

@media screen and (min-width:0) and (max-width:1000px) {

  .icons{
            display: none;
          }

}

.Colleation_section{
    
    gap:30px ;
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.Colleation{
    width: calc( (100% - 90px) / 4);
    text-align: center;
   /**  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); **/
}




@media screen and (min-width:0) and (max-width:400px) {

          .Colleation_section .row{

            flex-direction: column;
          }

          .Colleation{
            width: 500%;
          }
}

@media screen and (min-width:401px) and (max-width:770px) {
      .Colleation{
        width: calc( (100% - 30px) / 2 );
      }
}

@media screen and (min-width:771px) and (max-width:910px) {
      .Colleation{
        width: calc( (100% - 60px) / 3 );
      }
}

/** الكود الى فوق بقدر اوقفه وازبطه ب grid **/

.Colleation img{
    width: 100%;
}
.Colleation h2{
    margin-top: 23px;
    background-color: rgb(208, 203, 248);
}

.Colleation a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

 

/* 
 بعد المحاضرة تكملة المشروع 

*/

.img_flat {
  width:calc(100% - 5px); 
  max-width: 100%;
  position: relative;
  overflow: hidden;
  padding: 15px;
}


.img_flat .overlay {
  position: absolute; 
  left: 250px;
  width: 420px; 
  height: 640px; 
  z-index: 10;
  bottom: 20px;
  top: 20px;
}

@media screen and (min-width:0) and (max-width:1360px) {

      .img_flat .overlay {
        position: static;
        width: 100%;
        padding: 0;
      }     
}


.img_flat .overlay-content .Icon {
  position: absolute;
  top: 25%;            
  left: 25%;  
  bottom: 25%;        
  width: 80px;
  height: auto;
  transform: translate(-90%, -90%); 
  z-index: 20;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:1362px) and (max-width:1778px) {
  .img_flat .overlay-content .Icon{
  position: absolute;
  top: 25%;            
  left: 35%;  
  bottom: 25%;        
  width: 80px;
  height: auto;
  transform: translate(-90%, -90%); 
  z-index: 20;
  display: flex;
  flex-direction: column;
  }
}

@media screen and (min-width:0) and (max-width:1360px) {

    .img_flat .overlay-content .Icon{
        position: absolute;
        top: 55%;            
        left: 50%;  
        width: 95px;
        height: auto;
        transform: translate(-40%, -40%); 
        z-index: 20;
        display: flex;
        flex-direction: column;
    }
  }

.img_flat .overlay-content .text1 {
  position: absolute;
  top: calc(30% + 50px);  
  left: 30%;
  font-size: 20px;
  transform: translateX(-90%);  
  z-index: 20;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
/** هاي الميديا بس تنزل تحت الجملة **/
@media screen and (min-width:0) and (max-width:1360px){
  .img_flat .overlay-content .text1{

  position: absolute;
  top: calc(30% + 50px);  
  left: 65%;
  bottom: 65px;
  font-size: 25px;
  transform: translateX(-90%);  
  z-index: 20;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  }
}
  /** وهاي الميديا بس تزيح للجهة التانية من الشاشة**/

@media screen and (min-width:1362px) and (max-width:1778px) {

    .img_flat .overlay-content .text1 {

      position: absolute;
      top: calc(30% + 50px);  
      left: 38%;
      font-size: 20px;
      transform: translateX(-90%);  
      z-index: 20;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
}
} 




.img_flat .overlay-content .text2 {
  position: absolute;
  top: calc(30% + 90px);   
  left: 30%;
  font-size: 50px;
  transform: translateX(-90%);
  z-index: 20;
  color: white;
}

@media screen and (min-width:1360px) and (max-width:1760px) {

    .img_flat .overlay-content .text2 {

      position: absolute;
      top: calc(30% + 90px);   
      left: 30%;
      font-size: 50px;
      transform: translateX(-50%);
      z-index: 20;
      color: white;
}

}

@media screen and (min-width:0) and (max-width:1360px){
  .img_flat .overlay-content .text2{
      position: absolute;
  top: calc(30% + 50px);  
  left: 51%;
  bottom: -15%;
  font-size: 40px;
  transform: translateX(-40%);  
  z-index: 20;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  }
}

.img_flat .shop-text{
  position: absolute;
  bottom: 35%; 
  left: 31%;
  display: flex;
  transform: translateX(-150%);
  z-index: 20;
}
.img_flat .shop-text button{
  width: 150px;
  font-size: large;
}
@media screen and (min-width:1360px) and (max-width:1760px) {
    .img_flat .shop-text{
      position: absolute;
      bottom: 25%; 
      left: 33.3%;
      background-color: white;
      display: flex;
      font-size: 25.5px;
      transform: translateX(-90%);
      z-index: 20;
    }
  
}
@media screen and (min-width:0) and (max-width:1360px){
  .img_flat .shop-text{
  position: absolute;
  bottom: 15%; 
  left: 65%;
  display: flex;
  transform: translateX(-150%);
  z-index: 20;
  }
}

.text2 .line-break {
    display: block;  
}

/**
section2 palents
**/

.Colleation_section2 {
  width: 100%;
}

.container2 {
  max-width: 1100px;
  margin: auto;
}

.row2 {
  display: flex;              /* يخلي divs جنب بعض */
  height: 350px;              /* نفس ارتفاع الكارد */
  background-color: #fff;
}

.box-text {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f7f6f5;

}

.box-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.box-text h2 span {
  display: block;             
}

.box-text p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.box-text .btn {
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.box-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width:0) and (max-width:1360px){
  .Colleation_section2 .box-text{
    position: absolute;
   width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f7f6f5; 
  }
}
@media screen and (min-width:0) and (max-width:1360px) {

  .Colleation_section2 .box-image{
   position: static;
        width: 100%;
        padding: 0;

  }

  
}

@media screen and (max-width: 1360px) {

 

  .row2 {
    flex-direction: column;
    height: auto; /* الحاوية تكبر حسب المحتوى */
  }

  .box-text,
  .box-image {
    width: 100%;
    position: static;
  }

  .box-image img {
    width: 100%;
    height: auto;      /* ← أهم سطر */
    object-fit: contain; /* ← خلي الصورة كلها تظهر بدون قص */
  }


}


/**  8 تطبيق محاضرة**/

.best_sellers .row{
  gap: 30px;
}

.best_sellers{
  text-align: center;
  padding: 80px 0;
}

.best_sellers .item{
  text-align: left;
  width: calc( (100% - (3*30px) ) / 4 );
}

.best_sellers .item-content{
    margin-top: 24px;
}

.best_sellers h2{
  font-size: 30px;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.best_sellers h3{
  font-size: 20px;
  font-weight:500;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.best_sellers .price{
    font-size: 20px;
    font-weight: 500;
}

.best_sellers .description{
  color: #807f86;
  width: 80%;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 34px;
}

.best_sellers .add-to-cart{
    padding: 15px 81px;
    background-color: #fff;
    border: 1px solid #000;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: backgroundcolor 3s,color 1.3s;
}

.item:hover .add-to-cart{
  background-color: #2388ff;
  color: #ffffff;
}

@media screen and (min-width:0) and (max-width:400px) {

  .best_sellers .item{
    width: 100%;
  }

 
  
}


@media screen and (min-width:401px) and (max-width:700px) {

  .best_sellers .item{
    width: calc( (100% - (1*30px) ) / 2 );
  }

  .best_sellers .add-to-cart{
    padding: 8px 14px;
    font-size: 14px;
  }
  
}


@media screen and (min-width:701px) and (max-width:960px) {

  .best_sellers .item{
    width: calc( (100% - (2*30px) ) / 3 );
  }

  .best_sellers .add-to-cart{
    padding: 14px 20px;
    font-size: 17px;
  }
  
}
